body { 
  background-color:silver; 
  color: white;
  font-size:18px;
  
}
h1,{
  font-family: 'Roboto', sans-serif;font-weight: 400; }
  border-bottom:2px green solid;
}
li {
  text-transform:capitalize;
}
#slogan {
  font-style:italic;
}
