body { 
  background-color:silver; 
  color: white;
  font-size:16px;
  
}
h1{
  font-family: 'Lobster', cursive;
  border-bottom:2px green solid;
}
li {
  text-transform:capitalize;
}
#slogan {
  font-style:italic;
}
